<div class="page-footer">
  <div class="footer-container">
    <div class="copyright">
      <a class="grey-text text-lighten-4 right hide-on-small-only" href="#|">
        <i class="footer-icons fab fa-twitter"></i>
      </a>
      <a class="grey-text text-lighten-4 right hide-on-small-only" href="#|">
        <i class="footer-icons fab fa-facebook"></i>
      </a>
      <a class="grey-text text-lighten-4 right hide-on-small-only" href="#|">
        <i class="footer-icons fab fa-instagram"></i>
      </a>
    </div>
  </div>
</div>