.widgets {
  margin-top: 50px;

  .blocks {

    .block {
      .title {
        font-size: 18px;
        font-weight: 700;
        padding-top: 8px;
        padding-bottom: 8px;
      }
    }

    .profile {
      padding-bottom: 0;
      .name {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 10px;
      }
      .title {
        font-size: 18px;
        font-weight: 700;
      }
    }


  }
}

@media #{$medium-and-up} {
  .widgets {
    .widget_right {
      margin-left: 30px !important;
    }
  }
}