.widgets {
  margin-top: 50px;

  .blocks {

    .block {
      .title {
        font-size: 18px;
        font-weight: 700;
        padding-top: 8px;
        padding-bottom: 8px;
      }
    }

    
  }
}

@media #{$medium-and-up} {
  .widgets {
    .widget_right {
      margin-left: 30px !important;
    }
  }
}